@font-face {
  font-family: "Young Serif";
  src: url("../fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/outfit/static/Outfit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/outfit/static/Outfit-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/outfit/static/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-stone-100: hsl(30, 54%, 90%);
  --color-stone-150: hsl(30, 18%, 87%);
  --color-stone-600: hsl(30, 10%, 34%);
  --color-stone-900: hsl(24, 5%, 18%);
  --color-brown-800: hsl(14, 45%, 36%);
  --color-rose-800: hsl(332, 51%, 32%);
  --color-rose-50: hsl(330, 100%, 98%);
  --font-primary: "Outfit", sans-serif;
  --font-secondary: "Young Serif", serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body,
h1,
h2,
h3,
p,
ul,
ol,
figure {
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-stone-600);
  background-color: var(--color-white);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.main {
  width: 100%;
  background-color: var(--color-white);
}

.recipe-card {
  width: 100%;
  background-color: var(--color-white);
}

.recipe-card__image {
  width: 100%;
  height: auto;
  background-color: var(--color-white);
}

.recipe-card__header {
  padding: 2.5rem 2rem 0;
}

.recipe-card__title {
  font-family: var(--font-secondary);
  font-size: 2.25rem;
  line-height: 1;
  font-weight: 400;
  color: var(--color-stone-900);
}

.recipe-card__description {
  margin-top: 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-stone-600);
}

.prep-time {
  margin: 2rem 2rem 0;
  padding: 1.5rem;
  border-radius: 0.75rem;
  background-color: var(--color-rose-50);
}

.prep-time__title {
  margin-bottom: 1rem;
  font-family: var(--font-primary);
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 600;
  color: var(--color-rose-800);
}

.prep-time__list {
  padding-left: 1.5rem;
}

.prep-time__item {
  padding-left: 1rem;
  color: var(--color-stone-600);
}

.prep-time__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.prep-time__item::marker {
  font-size: 0.75rem;
  color: var(--color-rose-800);
}

.prep-time__item-accent {
  font-weight: 700;
  color: var(--color-stone-600);
}

.ingredients {
  margin: 2rem 2rem 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-stone-150);
}

.ingredients-title {
  margin-bottom: 1.5rem;
  font-family: var(--font-secondary);
  font-size: 1.75rem;
  line-height: 1;
  font-weight: 400;
  color: var(--color-brown-800);
}

.ingredients-list {
  padding-left: 1.5rem;
}

.ingredients-item {
  padding-left: 1rem;
  color: var(--color-stone-600);
}

.ingredients-item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.ingredients-item::marker {
  font-size: 0.75rem;
  color: var(--color-brown-800);
}

.instructions {
  margin: 2rem 2rem 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-stone-150);
}

.instructions-title {
  margin-bottom: 1.5rem;
  font-family: var(--font-secondary);
  font-size: 1.75rem;
  line-height: 1;
  font-weight: 400;
  color: var(--color-brown-800);
}

.instructions-list {
  padding-left: 1.5rem;
}

.instructions-item {
  padding-left: 1rem;
  color: var(--color-stone-600);
}

.instructions-item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.instructions-item::marker {
  font-weight: 700;
  color: var(--color-brown-800);
}

.instructions-item__accent {
  font-weight: 700;
  color: var(--color-stone-600);
}

.nutrition {
  padding: 2rem 2rem 2.5rem;
}

.nutrition-title {
  font-family: var(--font-secondary);
  font-size: 1.75rem;
  line-height: 1;
  font-weight: 400;
  color: var(--color-brown-800);
}

.nutrition-text {
  margin-top: 1.5rem;
  color: var(--color-stone-600);
}

.nutrition-table {
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
  border-spacing: 0;
}

.nutrition-table__row:not(:last-child) {
  border-bottom: 1px solid var(--color-stone-150);
}

.nutrition-table__label,
.nutrition-table__value {
  width: 50%;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  line-height: 1.5;
}

.nutrition-table__label {
  font-weight: 400;
  text-align: left;
  color: var(--color-stone-600);
}

.nutrition-table__value {
  font-weight: 700;
  color: var(--color-brown-800);
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  body {
    background-color: var(--color-stone-100);
  }

  .main {
    min-height: 100vh;
    padding: 7.75rem 1.5rem;
    background-color: var(--color-stone-100);
  }

  .recipe-card {
    max-width: 46rem;
    margin: 0 auto;
    padding: 2.5rem;
    border-radius: 1.5rem;
    background-color: var(--color-white);
  }

  .recipe-card__image {
    width: 100%;
    height: 18.75rem;
    object-fit: cover;
    border-radius: 0.75rem;
  }

  .recipe-card__header {
    padding: 2.5rem 0 0;
  }

  .recipe-card__title {
    font-size: 2.5rem;
    line-height: 1;
  }

  .recipe-card__description {
    margin-top: 1.5rem;
  }

  .prep-time {
    margin: 2rem 0 0;
  }

  .ingredients {
    margin: 2rem 0 0;
  }

  .instructions {
    margin: 2rem 0 0;
  }

  .nutrition {
    padding: 2rem 0 0;
  }
}
